

/* * {
box-sizing: border-box;
} */

body {
    font-family: poppins;
    background-image:url("../image/city-rain.jpeg");
    /* color: #fff; */
    font-size: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.body2 {
  font-family: poppins;
  background-image:url("../image/2471393.gif");
  /* color: #fff; */
  font-size: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.avatar {

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  width: 20%;
  border-radius: 15px;

}

.center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    width: 30%;
    border-radius: 50px;

  }

.form-box2{
  font-family: 'Courier New', Courier, monospace;
  background-color: #fff;
  margin: auto auto;
  margin-top: 25%;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 500px;
  height: 1000px;
  opacity: .85;
  z-index: -1;
}
