

/* * {
box-sizing: border-box;
} */

body {
    font-family: poppins;
    background-image:url("/image/2471393.gif");
    /* color: #fff; */
    font-size: 16px;
    background-repeat: no-repeat;
    background-size: cover;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    width: 30%;
    border-radius: 50px;

  }

